<h2>
 10 minutes average for <%= @node.name %>
</h2>

<p>
 <img src="/images/rrd/<%= @node.name %>_10.png" alt="10 minute average for <%= @node.name %>" />
</p>

<hr />

<h2>
 60 minutes average for <%= @node.name %>
</h2>

<p>
 <img src="/images/rrd/<%= @node.name %>_60.png" alt="60 minutes average for <%= @node.name %>" />
</p>

<hr />

<h2>
 24 hours average for <%= @node.name %>
</h2>

<p>
 <img src="/images/rrd/<%= @node.name %>_1440.png" alt="24 hours average for <%= @node.name %>" />
</p>

<hr />

<h2>
 7 days average for <%= @node.name %>
</h2>

<p>
 <img src="/images/rrd/<%= @node.name %>_10080.png" alt="7 days average for <%= @node.name %>" />
</p>

<hr />

<h2>
 30 days average for <%= @node.name %>
</h2>

<p>
 <img src="/images/rrd/<%= @node.name %>_43200.png" alt="30 days average for <%= @node.name %>" />
</p>
